<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>
<% } else { %>
  <% var last_year, last_month; %>
  <% var posts = site.posts.sort('date', -1) %>
  <% posts.each(function(post, i){ %>
    <% var month_str = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
    <% var year = post.date.year(); %>
    <% var month = post.date.month(); %>
    <% if (last_year != year || last_month != month){ %>
      <% if (last_year != null){ %>
        </div></section>
      <% } %>
      <% last_year = year; last_month = month %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= month_str[month] %>, <%= year %>  </a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (site.posts.length){ %>
    </div></section>
  <% } %>
<% } %>