<nav id="mobile-nav" style="font-family:iconfont">
  <% if (theme.menu.Home){ %>
    <a href="<%= theme.menu.Home %>"  class="mobile-nav-link"> &#xe600 </a>
  <% } %>
  <% if (theme.menu.Archives){ %>
    <a href="<%= theme.menu.Archives %>"  class="mobile-nav-link"> &#xe603 </a>
  <% } %>
  <% if (theme.menu.Tag){ %>
    <a href="<%= theme.menu.Tag %>"  class="mobile-nav-link"> &#xe601 </a>
  <% } %>
  <% if (theme.menu.Profile){ %>
    <a href="<%= theme.menu.Profile %>"  class="mobile-nav-link"> &#xe971 </a>
  <% } %>
  <% if (theme.menu.Github){ %>
    <a href="<%= theme.menu.Github %>"  class="mobile-nav-link"> &#xe604 </a>
  <% } %>
</nav>